* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: grid;
    place-items: center;
}

.main_container{
    width: 50rem;
    display: flex;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.section_left {
    width: 55%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.section_right {
    width: 45%;
}

.header_container,
.foot_container {
    padding: 0 0.5rem 0 0.5rem;
}

.header_container {
    margin: 2.5rem 0 2.5rem 0;
    text-align: center;
}

form {
    margin-bottom: 11rem;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.main_form_block {
    margin-bottom: 1.5rem;
}

.input_container {
    margin-bottom: 0.5rem;
}
button,
label,
input {
  display: block;
  font-family: inherit;
  margin: 0;
  width: 100%;
  padding: 0 0.5rem;
}

label {
    font-size: 0.8rem;
    padding: 0 0.25rem;
}

input,
button {
    height: 2rem;
}

input {
    appearance: none;
    outline: none;
    border: 2px solid rgb(140, 140, 140);
    border-radius: 5px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5)    ;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 3px solid crimson;
}

input:valid {
    border: 3px solid #467302;
    background-color: rgba(0, 0, 0, 0.05);
}

button {
    background-color: #6C8C54;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    box-shadow: inset 10px 10px 10px rgba(80, 92, 51, 0.17);
}

