:root {
    /*Main colors*/
    --neon-pink: #F20CB5;
    --neon-lightblue: #07F2F2;
    --base-yellow: #FFDDBD;
    --neon-green: #39FF14;
    --neon-red: #FF2119;
    --black: #000000;

    --input-border: 2px solid;
    --focus-shadow: inset -5px 0px 15px;
    --unfocused-shadow: 0px 1px 7px;
    --hover-shadow: 0px 1px 15px;

}

@font-face {
    font-family: SourceCode-Pro;
    src: url(./fonts/SourceCodePro-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: SourceCode-Pro, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: grid;
    place-items: center;
    background-color: #270839;
}

.main_container{
    width: 50rem;
    display: flex;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: #371366;
    border-radius: 10px;
    box-shadow: 4px 4px 15px var(--neon-lightblue);
}

.section_left {
    width: 55%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.section_right {
    width: 45%;
}

.header_text {
    color: var(--neon-lightblue);
}

p {
    text-shadow: 1px 1px 7px;
}

.sign_up_text{
    font-weight: 100;
    color: var(--base-yellow);
    font-weight: bold;
}

.header_container,
.gitHub {
    text-align: center;
    border: var(--input-border) var(--neon-lightblue);
    box-shadow: var(--unfocused-shadow) var(--neon-lightblue);
    background-color: var(--black);
    border-radius: 5px;
}

.header_container {
    padding: 0.5rem;
    margin: 2rem 1rem 2rem 1rem;
}

form {
    margin-bottom: 0.5rem;
    background-color: var(--black);
    padding: 0.5rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.main_form_block {
    margin-bottom: 1.5rem;
}

.input_container {
    margin-bottom: 0.5rem;
}
button,
label,
input {
  display: block;
  font-family: inherit;
  margin: 0;
  width: 100%;
  padding: 0 0.5rem;
}

label {
    color: var(--neon-pink);
    font-size: 0.8rem;
    padding: 0 0.25rem;
}

input,
button {
    height: 2rem;
}

::placeholder {
    color: var(--base-yellow);
}

input {
    appearance: none;
    outline: none;
    color: var(--base-yellow);
    background-color: #212121;
    border: var(--input-border) var(--neon-pink);
    border-radius: 5px;
    box-shadow: var(--unfocused-shadow) var(--neon-pink);
    transition: all 0.25s ease
}

/* Avoid shadow flickering if input hovered when it is focused*/
input:hover{
    box-shadow: var(--hover-shadow) var(--neon-pink);
}

input:focus {
    box-shadow: var(--focus-shadow) var(--neon-pink);
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: var(--input-border) var(--neon-red);
    box-shadow: var(--unfocused-shadow) var(--neon-red);
}

input:invalid:not(:placeholder-shown):hover {
    box-shadow: var(--hover-shadow) var(--neon-red);
}

input:valid {
    border: var(--input-border) var(--neon-green);
    box-shadow: var(--unfocused-shadow) var(--neon-green);
    transition: all 0.25s ease
}

input:valid:hover {
    box-shadow: var(--hover-shadow) var(--neon-green);
}

input:valid:focus {
    box-shadow: var(--focus-shadow) var(--neon-green);
    transition: all 0.25s ease
}

.submit_button {
    font-size: 0.9rem;
    font-weight: 520;
    background-color: var(--black);
    border: 3px solid var(--base-yellow);
    border-radius: 5px;
    color: var(--base-yellow);
    transition: all 0.25s ease;
}

.submit_button:hover {
    cursor: pointer;
    text-shadow: var(--base-yellow) 2px 2px 5px;
    box-shadow: var(--hover-shadow) var(--base-yellow);
    transform: translateY(-0.10rem);
    transition: all 0.25s ease;
}

.foot_container {
    margin-bottom: 10rem;
}

.foot_text {
    color: var(--base-yellow);
    padding-left: 0.25rem;
}

a {
    color: var(--neon-lightblue);
}

a:visited {
    color: #6B00ED;
}

.gitHub {
    margin: 0.5rem;
}

.github_logo {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    margin-left: 0.5rem;
}

/*Add password confirmation script
-add better transition from hover to focus box shadow
-add border to main container?*/
