* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
}

button,
label,
input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.container {
    position: absolute;
    display: flex;
    border: 1px solid black;

}

.right {
    padding: 5px;
}

img{
    width: 250px; height: 100%;
}