* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: grid;
    place-items: center;
}

button,
label,
input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.main_container {
    position: absolute;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 330px;
    padding: 5px;
}

input{
    appearance: none;
    outline: none;
    border-radius: 5px;
}

input:invalid:focus {
    border-color: crimson;
}

input:valid {
    border-color: green;
}

img{
    width: 450px; height: 100%;
    border-radius: 5px;
}