* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: grid;
    place-items: center;
}

button,
label,
input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.main_container {
    position: absolute;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f9fafb;

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 330px;
}

.header_container {
    text-align: center;
}
.main_form_block {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

input{
    appearance: none;
    outline: none;
    border-radius: 5px;
}

input:invalid:not(:placeholder-shown):not(:focus):not(#password_2) {
    border-color: crimson;
}

input:valid {
    border-color: greenyellow;
}

button {
    background-color: #596D48;
}

img{
    width: 450px; height: 100%;
    border-radius: 5px;
}